// Vue transitions

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.1s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
    transform: translateY(-10%);
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.1s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(10%);
    opacity: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Scrollbar
*::-webkit-scrollbar {
    width: .5em;
}
 
*::-webkit-scrollbar-track {
    background: rgb(var(--color-body-900))
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-body-800));
}

.bg-body-700 {
    *::-webkit-scrollbar-track {
        background: rgb(var(--color-body-800))
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(var(--color-body-500));
    }

}